/*通用外层边框*/

.main_wrapper {
    width: 1210px;
    height: auto;
    margin: auto;
}


/*主体布局样式*/

.main_content {
    padding: 30px 0;
}

.main_content_left {
    width: 964px;
    float: left;
}

.main_content_right {
    width: 226px;
    float: right;
}


/*管理中心主体布局样式*/

.manage_content {
    padding: 30px 0;
}

.manage_content_left {
    width: 226px;
    float: left;
}

.manage_content_right {
    width: 964px;
    float: right;
}


/*标签页框样式*/

.tab_type_box {
    width: 962px;
    border: 1px solid #e5e7ed;
}

.tab_type_head {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #e5e7ed;
    background: #fcfcfc;
}

.tab_type_head>a {
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    color: #616161;
    background: #fcfcfc;
    border-right: 1px solid #e5e7ed;
}

.tab_type_head>a:hover {
    color: #006EFF
}

.tab_type_head a.active {
    color: #0484FF;
    background: #fff;
    height: 41px;
    border-bottom: 1px solid #fff;
    position: relative;
}

.tab_type_head>a.active:after {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    top: 0;
    background: #0484FF;
    height: 3px
}

.tab_type_head p {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 14px;
    color: #6398ed;
}

.tab_type_head p span:nth-child(1) {
    font-size: 16px;
}

.tab_type_head p span:nth-child(2) {
    padding-left: 10px;
    cursor: pointer;
}


/*详情框样式*/

.details_type_box {
    border: 1px solid #e5e7ed;
    padding: 20px;
}


/*通用列表框样式*/

.common_type_box {
    border: 1px solid #e5e7ed;
    width: 962px;
}

.common_type_head {
    display: flex;
    height: 40px;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #e5e7ed;
    background: #fcfcfc;
    font-size: 14px;
    color: #b3b3b3;
}


/*通用内边距样式*/

.padding20 {
    padding: 20px;
}


/*通用弹窗样式*/

.windows_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.windows_box {
    position: absolute;
    width: 730px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}

.windows_head {
    display: flex;
    height: 45px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e7ed;
    background: #f8f8f8;
    font-size: 15px;
    color: #616161;
}

.windows_content {
    padding: 30px 40px;
}

.windows_content section {
    display: flex;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    margin: 6px 0
}

.windows_content section .label {
    width: 100px;
    text-align: left;
}

.windows_content section input {
    width: 458px;
    height: 40px;
    border: 1px solid #e5e7ed;
    font-size: 14px;
    padding-left: 10px;
}

.windows_content section input.shot {
    width: 318px;
}

.windows_content section span.smscode_btn {
    width: 130px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #87ce76;
    border: 1px solid #87ce76;
    margin-left: 7px;
}

.windows_content section select {
    width: 163px;
    height: 40px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    border: 1px solid #e5e7ed;
}

.windows_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.windows_btn span,
.windows_btn>a {
    width: 158px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 14px;
    margin: 0 8px;
    border-radius: 4px;
}

.windows_btn_cancel {
    border: 1px solid #e5e7ed;
    background: #f8f8f8;
    color: #898989;
    cursor: pointer;
    transition: .3s
}

.windows_btn_cancel:hover {
    background: #ffffff;
}

.windows_btn_confirm {
    border: 1px solid #006EFF;
    background: #006EFF;
    color: #fff;
    cursor: pointer;
    transition: .3s
}

.windows_btn_confirm:hover {
    background: #2a86ff
}

.windows_head .icon-close {
    cursor: pointer;
    transition: .3s;
}

.windows_head .icon-close:hover {
    color: #FF826B
}

.windows_btn_green {
    border: 1px solid #70ba5f;
    background: #87CE76;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    display: inline-block
}

.windows_btn_green:hover {
    background: #9de68b;
}


/*通用按钮样式*/

.common_btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit_btn {
    border: 1px solid #0063e5;
    background: #006EFF;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 58px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

.submit_btn:hover {
    background: #2784ff
}

.submit_btn:active {
    background: #0060de
}

.cancel_btn {
    border: 1px solid #e5e7ed;
    background: #f8f8f8;
    color: #898989;
    font-size: 14px;
    text-align: center;
    line-height: 58px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

.cancel_btn:hover {
    color: #0063FF;
    border-color: #d9dadd
}

.cancel_btn:active {
    color: #0063FF;
    border-color: #d9dadd;
    background: #e3e3e3
}


/*管理模块通用信息列表样式*/

.manage_list_common li {
    display: flex;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #e5e7ed;
    color: #616161;
    font-size: 14px;
}

.manage_list_common li.upload {
    height: auto;
    padding: 10px 0;
    align-items: flex-start;
}

.manage_list_common li input {
    width: 458px;
    height: 40px;
    border: 1px solid #e5e7ed;
    font-size: 14px;
    padding-left: 10px;
}

.manage_list_common li p:nth-child(1) {
    width: 135px;
    padding-left: 75px;
}

.manage_list_common li p:nth-child(2) {
    width: 335px;
}

.manage_list_common li p:nth-child(3) span {
    color: #157DFB;
    cursor: pointer;
    transition: .3s;
}

.manage_list_common li p:nth-child(3) span:hover{
    color: #469aff
}

.manage_list_common li:last-child {
    border: 0;
}

.manage_list_common li select {
    width: 163px;
    height: 40px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    border: 1px solid #e5e7ed;
}


/*通用表格样式*/

.common_table {
    color: #898989;
    font-size: 14px;
}

.common_table th {
    height: 40px;
    background: #f9fafc;
    border: 1px solid #e5e7ed;
    padding-left: 20px;
    vertical-align: middle;
    text-align: left;
}

.common_table th.text_center {
    text-align: center;
    padding: 0;
}

.common_table th.text_left,
.common_table td.text_left {
    text-align: left;
    padding-left: 20px;
}

.common_table td {
    height: 50px;
    border: 1px solid #e5e7ed;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0;
}


/*//分页*/

.list-pagination-wrap {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.list-pagination {
    display: inline-block;
    border-radius: 4px;
    background-color: #fbfbfb;
    font-size: 0em;
    border: none!important;
}

.list-pagination li {
    display: inline-block;
    text-align: center;
    line-height: initial;
    padding: 8px 12px;
    /*border-left: 1px solid #d00;*/
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    margin-left: -1px;
    font-size: 11px;
    color: #aaa;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: .3s;
}

.list-pagination li:hover {
    color: #0584FF
}

.list-pagination li.active {
    background-color: #0584FF;
    border-color: #0584FF;
    color: white;
    z-index: 2
}


/***xxiaomao***/


/***2017-12-14***/


/**按钮样式**/

.btn-bd-green-s {
    height: 26px;
    border: 1px solid #63C95F;
    display: inline-block;
    line-height: 26px;
    font-size: 12px;
    color: #63C95F;
    border-radius: 4px;
    padding: 0 15px;
    transition: .3s;
}

.btn-bd-green-s:hover {
    background: #63C95F;
    color: #fff
}

.btn-bd-red-s {
    height: 26px;
    border: 1px solid #FF8A6E;
    display: inline-block;
    line-height: 26px;
    font-size: 12px;
    color: #FF8A6E;
    border-radius: 4px;
    padding: 0 15px;
    transition: .3s;
}

.btn-bd-red-s:hover {
    background: #FF8A6E;
    color: #fff
}

.btn-red {
    height: 46px;
    display: inline-block;
    color: #fff;
    line-height: 46px;
    border-radius: 4px;
    background: #FF8A6E;
    padding: 0 30px;
    font-size: 14px;
    transition: .3s;
    cursor: pointer
}

.btn-red:hover {
    background: #ff9d86
}

.btn-green {
    height: 46px;
    display: inline-block;
    color: #fff;
    line-height: 46px;
    border-radius: 4px;
    background: #87CE76;
    padding: 0 30px;
    font-size: 14px;
    transition: .3s;
    cursor: pointer
}

.btn-green:hover {
    background: #96d887
}

.color-red {
    color: #FF464F
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px
}

.ml25 {
    margin-left: 25px
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.tx-r {
    text-align: right;
}

.tab_type_head>div {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 14px;
    color: #6398ed;
}

.color-blue {
    color: #006EFF;
    transition: .3s;
}

a.color-blue:hover {
    color: #3f92ff
}

/*栅格系统*/
.poo {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex; }

.p-f1 {
  position: relative;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1; }

.p-f2 {
  position: relative;
  -webkit-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  flex: 2; }

.p-f3 {
  position: relative;
  -webkit-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3;
  flex: 3; }

.p-f4 {
  position: relative;
  -webkit-box-flex: 4;
  box-flex: 4;
  -webkit-flex: 4;
  flex: 4; }

.p-1f2 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.p-1f3 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  max-width: 33.333%; }

.p-1f4 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.p-pc {
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }

.p-pe {
  -webkit-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.p-pj {
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.p-ac {
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.p-ae {
  -webkit-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.p-pac {
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.p-ver {
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column; }

.p-bm {
  /*box-lines出现无法使用的情况*/
  -webkit-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.p-pc {
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }

.p-pe {
  -webkit-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.p-pj {
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.p-ac {
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.p-ae {
  -webkit-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.p-pac {
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.p-ver {
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column; }

.p-bm {
  /*box-lines出现无法使用的情况*/
  -webkit-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

/*排版*/
.m0 {
  margin: 0; }

.m5 {
  margin: 5px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m50 {
  margin: 50px; }

.m60 {
  margin: 60px; }

.mt0 {
  margin-top: 0; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mt25 {
  margin-top: 25px; }

.mt30 {
  margin-top: 30px; }

.mt35 {
  margin-top: 35px; }

.mt40 {
  margin-top: 40px; }

.mt50 {
  margin-top: 50px; }

.mt60 {
  margin-top: 60px; }

.mr0 {
  margin-right: 0px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mr25 {
  margin-right: 25px; }

.mr30 {
  margin-right: 30px; }

.mr35 {
  margin-right: 35px; }

.mr40 {
  margin-right: 40px; }

.mr50 {
  margin-right: 50px; }

.mr60 {
  margin-right: 60px; }

.mb0 {
  margin-bottom: 0px; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb25 {
  margin-bottom: 25px; }

.mb30 {
  margin-bottom: 30px; }

.mb35 {
  margin-bottom: 35px; }

.mb40 {
  margin-bottom: 40px; }

.mb50 {
  margin-bottom: 50px; }

.mb60 {
  margin-bottom: 60px; }

.ml0 {
  margin-left: 0px; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.ml25 {
  margin-left: 25px; }

.ml30 {
  margin-left: 30px; }

.ml35 {
  margin-left: 35px; }

.ml40 {
  margin-left: 40px; }

.ml50 {
  margin-left: 50px; }

.ml60 {
  margin-left: 60px; }

.mlr5 {
  margin-left: 5px;
  margin-right: 5px; }

.mlr10 {
  margin-left: 10px;
  margin-right: 10px; }

.mlr15 {
  margin-left: 15px;
  margin-right: 15px; }

.mlr20 {
  margin-left: 20px;
  margin-right: 20px; }

.mlr25 {
  margin-left: 25px;
  margin-right: 25px; }

.mlr30 {
  margin-left: 30px;
  margin-right: 30px; }

.mlr35 {
  margin-left: 35px;
  margin-right: 35px; }

.mlr40 {
  margin-left: 40px;
  margin-right: 40px; }

.mlr50 {
  margin-left: 50px;
  margin-right: 50px; }

.mlr60 {
  margin-left: 60px;
  margin-right: 60px; }

.mtb5 {
  margin-left: 5px;
  margin-right: 5px; }

.mtb10 {
  margin-left: 10px;
  margin-right: 10px; }

.mtb15 {
  margin-left: 15px;
  margin-right: 15px; }

.mtb20 {
  margin-left: 20px;
  margin-right: 20px; }

.mtb25 {
  margin-left: 25px;
  margin-right: 25px; }

.mtb30 {
  margin-left: 30px;
  margin-right: 30px; }

.mtb35 {
  margin-left: 35px;
  margin-right: 35px; }

.mtb40 {
  margin-left: 40px;
  margin-right: 40px; }

.mtb50 {
  margin-left: 50px;
  margin-right: 50px; }

.mtb60 {
  margin-left: 60px;
  margin-right: 60px; }

.mt-5 {
  margin-top: -5px; }

.mt-10 {
  margin-top: -10px; }

.mt-15 {
  margin-top: -15px; }

.mt-20 {
  margin-top: -20px; }

.mt-25 {
  margin-top: -25px; }

.mt-30 {
  margin-top: -30px; }

.mt-35 {
  margin-top: -35px; }

.mt-40 {
  margin-top: -40px; }

.mt-50 {
  margin-top: -50px; }

.mt-60 {
  margin-top: -60px; }

.mr-5 {
  margin-right: -5px; }

.mr-10 {
  margin-right: -10px; }

.mr-15 {
  margin-right: -15px; }

.mr-20 {
  margin-right: -20px; }

.mr-25 {
  margin-right: -25px; }

.mr-30 {
  margin-right: -30px; }

.mr-35 {
  margin-right: -35px; }

.mr-40 {
  margin-right: -40px; }

.mr-50 {
  margin-right: -50px; }

.mr-60 {
  margin-right: -60px; }

.mb-5 {
  margin-bottom: -5px; }

.mb-10 {
  margin-bottom: -10px; }

.mb-15 {
  margin-bottom: -15px; }

.mb-20 {
  margin-bottom: -20px; }

.mb-25 {
  margin-bottom: -25px; }

.mb-30 {
  margin-bottom: -30px; }

.mb-35 {
  margin-bottom: -35px; }

.mb-40 {
  margin-bottom: -40px; }

.mb-50 {
  margin-bottom: -50px; }

.mb-60 {
  margin-bottom: -60px; }

.ml-5 {
  margin-left: -5px; }

.ml-10 {
  margin-left: -10px; }

.ml-15 {
  margin-left: -15px; }

.ml-20 {
  margin-left: -20px; }

.ml-25 {
  margin-left: -25px; }

.ml-30 {
  margin-left: -30px; }

.ml-35 {
  margin-left: -35px; }

.ml-40 {
  margin-left: -40px; }

.ml-50 {
  margin-left: -50px; }

.ml-60 {
  margin-left: -60px; }

.mlr5 {
  margin-left: 5px;
  margin-right: 5px; }

.mlr10 {
  margin-left: 10px;
  margin-right: 10px; }

.mlr15 {
  margin-left: 15px;
  margin-right: 15px; }

.mlr20 {
  margin-left: 20px;
  margin-right: 20px; }

.mlr25 {
  margin-left: 25px;
  margin-right: 25px; }

.mlr30 {
  margin-left: 30px;
  margin-right: 30px; }

.mlr35 {
  margin-left: 35px;
  margin-right: 35px; }

.mlr40 {
  margin-left: 40px;
  margin-right: 40px; }

.mlr50 {
  margin-left: 50px;
  margin-right: 50px; }

.mlr60 {
  margin-left: 60px;
  margin-right: 60px; }

.mtb5 {
  margin-left: 5px;
  margin-right: 5px; }

.mtb10 {
  margin-left: 10px;
  margin-right: 10px; }

.mtb15 {
  margin-left: 15px;
  margin-right: 15px; }

.mtb20 {
  margin-left: 20px;
  margin-right: 20px; }

.mtb25 {
  margin-left: 25px;
  margin-right: 25px; }

.mtb30 {
  margin-left: 30px;
  margin-right: 30px; }

.mtb35 {
  margin-left: 35px;
  margin-right: 35px; }

.mtb40 {
  margin-left: 40px;
  margin-right: 40px; }

.mtb50 {
  margin-left: 50px;
  margin-right: 50px; }

.mtb60 {
  margin-left: 60px;
  margin-right: 60px; }

.p0 {
  padding: 0; }

.p5 {
  padding: 5px; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p50 {
  padding: 50px; }

.p60 {
  padding: 60px; }

.pt0 {
  padding-top: 0; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt25 {
  padding-top: 25px; }

.pt30 {
  padding-top: 30px; }

.pt35 {
  padding-top: 35px; }

.pt40 {
  padding-top: 40px; }

.pt50 {
  padding-top: 50px; }

.pt60 {
  padding-top: 60px; }

.pr0 {
  padding-right: 0px; }

.pr5 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px; }

.pr25 {
  padding-right: 25px; }

.pr30 {
  padding-right: 30px; }

.pr35 {
  padding-right: 35px; }

.pr40 {
  padding-right: 40px; }

.pr50 {
  padding-right: 50px; }

.pr60 {
  padding-right: 60px; }

.pb0 {
  padding-bottom: 0px; }

.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb15 {
  padding-bottom: 15px; }

.pb20 {
  padding-bottom: 20px; }

.pb25 {
  padding-bottom: 25px; }

.pb30 {
  padding-bottom: 30px; }

.pb35 {
  padding-bottom: 35px; }

.pb40 {
  padding-bottom: 40px; }

.pb50 {
  padding-bottom: 50px; }

.pb60 {
  padding-bottom: 60px; }

.pl0 {
  padding-left: 0px; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl15 {
  padding-left: 15px; }

.pl20 {
  padding-left: 20px; }

.pl25 {
  padding-left: 25px; }

.pl30 {
  padding-left: 30px; }

.pl35 {
  padding-left: 35px; }

.pl40 {
  padding-left: 40px; }

.pl50 {
  padding-left: 50px; }

.pl60 {
  padding-left: 60px; }

.plr5 {
  padding-left: 5px;
  padding-right: 5px; }

.plr10 {
  padding-left: 10px;
  padding-right: 10px; }

.plr15 {
  padding-left: 15px;
  padding-right: 15px; }

.plr20 {
  padding-left: 20px;
  padding-right: 20px; }

.plr25 {
  padding-left: 25px;
  padding-right: 25px; }

.plr30 {
  padding-left: 30px;
  padding-right: 30px; }

.plr35 {
  padding-left: 35px;
  padding-right: 35px; }

.plr40 {
  padding-left: 40px;
  padding-right: 40px; }

.plr50 {
  padding-left: 50px;
  padding-right: 50px; }

.plr60 {
  padding-left: 60px;
  padding-right: 60px; }

.ptb5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.ptb10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.ptb15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.ptb20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.ptb25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.ptb30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.ptb35 {
  padding-top: 35px;
  padding-bottom: 35px; }

.ptb40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.ptb50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.ptb60 {
  padding-top: 60px;
  padding-bottom: 60px; }

.tx-c {
  text-align: center; }

.tx-l {
  text-align: left; }

.tx-r {
  text-align: right; }

.tx-lc {
  text-transform: lowercase; }

.tx-uc {
  text-transform: uppercase; }

.tx-cl {
  text-transform: capitalize; }

.bd{
    border: 1px solid #E5E6ED
}
.bb{
    border-bottom: 1px solid #E5E6ED
}
.font-color{
    color: #616161
}
